<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!-- 定义日志文件 输出位置 -->
    <property name="log_dir" value="~/log/"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="com/github/wangji92/dingtalkrobot/logback-dingtalk-robot-custom-layout.xml"/>

    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>env: ${env} app: ${app} time: %d{yyyy-MM-dd HH:mm:ss.SSS} thread: %thread level: %level logger: %logger class: %class method: %method line: %line mdc: %mdc%n message: %msg stackTrace %ex{5}%n
            </pattern>
        </encoder>
    </appender>

    <root>
        <!-- 打印debug级别日志及以上级别日志 -->
        <level value="info"/>
        <!-- 控制台输出 -->
        <appender-ref ref="console"/>
        <appender-ref ref="asyncDingTalkCustomLayoutAppend"/>
    </root>
</configuration>