<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <!--    spring 默认的-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--    钉钉机器人告警处理 使用pattern layout -->
    <include resource="com/github/wangji92/dingtalkrobot/logback-dingtalk-robot-pattern-layout.xml"/>

    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <!-- 控制台输出 -->
        <appender-ref ref="console"/>
        <!--        钉钉告警处理输出-->
        <appender-ref ref="asyncDingtalkPatternLayoutEncoderAppend"/>
    </root>
</configuration>