<?xml version="1.0" encoding="UTF-8"?>

<included>
    <!--    当前配置给予参考 复制到自己的项目里面去-->
    <contextListener class="com.github.wangji92.dingtalkrobot.logback.listener.LoggerStartupListener"/>
    <!--    https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-log-levels-->
    <springProperty scope="context" name="app" source="spring.application.name" defaultValue="not define name"/>
    <springProperty scope="context" name="env" source="spring.dingtalk.logback.append.application-config.env"
                    defaultValue="未定义"/>
    <springProperty scope="context" name="dingTalkRobotSignSecret"
                    source="spring.dingtalk.logback.append.robot-config.sign-secret" defaultValue=""/>
    <springProperty scope="context" name="dingTalkRobotWebhook"
                    source="spring.dingtalk.logback.append.robot-config.webhook" defaultValue=""/>
    <springProperty scope="context" name="dingTalkRobotTitle"
                    source="spring.dingtalk.logback.append.robot-config.robot-title" defaultValue=""/>
    <springProperty scope="context" name="asyncAppenderQueueSize"
                    source="spring.dingtalk.logback.append.log-config.async-appender-queue-size" defaultValue=""/>
    <springProperty scope="context" name="asyncAppenderNeverBlock"
                    source="spring.dingtalk.logback.append.log-config.async-appender-never-block" defaultValue=""/>
    <springProperty scope="context" name="asyncAppenderIncludeCallerData"
                    source="spring.dingtalk.logback.append.log-config.async-appender-include-caller-data"
                    defaultValue=""/>
    <springProperty scope="context" name="dingTalkLogLevel"
                    source="spring.dingtalk.logback.append.log-config.log-level" defaultValue=""/>
    <springProperty scope="context" name="dingTalkLogConfigKewWordExpression"
                    source="spring.dingtalk.logback.append.log-config.kew-word-expression" defaultValue=""/>
    <springProperty scope="context" name="dingTalkQuickLinkClickDescription"
                    source="spring.dingtalk.logback.append.quick-link-config.click-description" defaultValue=""/>
    <springProperty scope="context" name="dingTalkQuickLinkClickUrl"
                    source="spring.dingtalk.logback.append.quick-link-config.click-url" defaultValue=""/>

    <!--自定义layout的效果-->
    <appender name="dingtalkCustom" class="com.github.wangji92.dingtalkrobot.logback.append.DingTalkRobotAppend">
        <webhook>${dingTalkRobotWebhook}</webhook>
        <signSecret>${dingTalkRobotSignSecret}</signSecret>
        <robotTitle>${dingTalkRobotTitle}</robotTitle>
        <layout class="com.github.wangji92.dingtalkrobot.logback.layout.DingTalkRobotLayout">
            <env>${env}</env>
            <app>${app}</app>
            <clickDescription>${dingTalkQuickLinkClickDescription}</clickDescription>
            <clickUrl>${dingTalkQuickLinkClickUrl}</clickUrl>
        </layout>
    </appender>

    <!--自定义layout的效果+ AsyncAppender-->
    <appender name="asyncDingTalkCustom" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>${asyncAppenderIncludeCallerData}</includeCallerData>
        <queueSize>${asyncAppenderQueueSize}</queueSize>
        <neverBlock>${asyncAppenderNeverBlock}</neverBlock>
        <appender-ref ref="dingtalkCustom"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${dingTalkLogLevel}</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
                <expression>${dingTalkLogConfigKewWordExpression}</expression>
            </evaluator>
            <!-- 用于配置符合过滤条件的操作 -->
            <onMatch>ACCEPT</onMatch>
            <!-- 用于配置不符合过滤条件的操作 -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!--    通过logback PatternLayoutEncoder 定义 markdown 格式-->
    <appender name="dingtalkPatternLayoutEncoder"
              class="com.github.wangji92.dingtalkrobot.logback.append.DingTalkRobotAppend">
        <webhook>${dingTalkRobotWebhook}</webhook>
        <signSecret>${dingTalkRobotSignSecret}</signSecret>
        <robotTitle>${dingTalkRobotTitle}</robotTitle>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>- env: ${env}%n- app: ${app}%n- ip: ${localIp}%n- time: %d{yyyy-MM-dd HH:mm:ss.SSS}%n- thread:
                %thread%n- level: %level%n- logger: %logger%n- class: %class%n- method: %method%n- line: %line%n- mdc:
                %mdc%n- message: %msg%n- stackTrace %ex{10}%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--    通过logback PatternLayoutEncoder 定义 markdown 格式 +AsyncAppender -->
    <appender name="asyncDingtalkPatternLayoutEncoder" class="ch.qos.logback.classic.AsyncAppender">
        <includeCallerData>${asyncAppenderIncludeCallerData}</includeCallerData>
        <queueSize>${asyncAppenderQueueSize}</queueSize>
        <neverBlock>${asyncAppenderNeverBlock}</neverBlock>
        <appender-ref ref="dingtalkPatternLayoutEncoder"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${dingTalkLogLevel}</level>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">
                <expression>${dingTalkLogConfigKewWordExpression}</expression>
            </evaluator>
            <!-- 用于配置符合过滤条件的操作 -->
            <onMatch>ACCEPT</onMatch>
            <!-- 用于配置不符合过滤条件的操作 -->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
</included>
