<?xml version="1.0" encoding="UTF-8"?>
<included>
    <!--    当前配置给予参考 复制到自己的项目里面去-->
    <contextListener class="com.github.wangji92.dingtalkrobot.logback.listener.LoggerStartupListener"/>

    <conversionRule conversionWord="linkDetail"
                    converterClass="com.github.wangji92.dingtalkrobot.logback.pattern.LinkDetailConverter"/>
    <!--    https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-custom-log-levels-->
    <springProperty scope="context" name="app" source="spring.application.name" defaultValue="not define name"/>
    <springProperty scope="context" name="env" source="spring.dingtalk.logback.append.application-config.env"
                    defaultValue=""/>
    <!--    钉钉机器人验签名秘钥 参考 com.github.wangji92.dingtalkrobot.DingTalkRobotAppendProperties-->
    <springProperty scope="context" name="dingTalkRobotSignSecret"
                    source="spring.dingtalk.logback.append.robot-config.sign-secret" defaultValue=""/>

    <!--    钉钉机器人配置 webhook-->
    <springProperty scope="context" name="dingTalkRobotWebhook"
                    source="spring.dingtalk.logback.append.robot-config.webhook" defaultValue=""/>

    <!--    机器人发送速度限制 每分钟最多20次-->
    <springProperty scope="cntext" name="dingTalkRateLimiterPermitsPerSecond"
                    source="spring.dingtalk.logback.append.robot-config.rate-limiter-permits-per-second"
                    defaultValue="0.2857"/>
    <!--    机器人关键字 、title-->
    <springProperty scope="context" name="dingTalkRobotTitle"
                    source="spring.dingtalk.logback.append.robot-config.robot-title" defaultValue="钉钉日志告警"/>

    <!--    异步队列配置参考 com.github.wangji92.dingtalkrobot.DingTalkRobotAppendProperties.LogConfig -->
    <springProperty scope="context" name="asyncAppenderQueueSize"
                    source="spring.dingtalk.logback.append.log-config.async-appender-queue-size" defaultValue="256"/>
    <springProperty scope="context" name="asyncAppenderNeverBlock"
                    source="spring.dingtalk.logback.append.log-config.async-appender-never-block" defaultValue="true"/>
    <springProperty scope="context" name="asyncAppenderIncludeCallerData"
                    source="spring.dingtalk.logback.append.log-config.async-appender-include-caller-data"
                    defaultValue="true"/>

    <!--    日志等级 一般ERROR 进行告警-->
    <springProperty scope="context" name="dingTalkLogLevel"
                    source="spring.dingtalk.logback.append.log-config.log-level" defaultValue="ERROR"/>

    <!--    有表达式匹配 才发送到钉钉机器人 且日志等级满足  return formattedMessage.contains("keyword1") || formattedMessage.contains("keyword2");-->
    <springProperty scope="context" name="dingTalkLogConfigKewWordExpression"
                    source="spring.dingtalk.logback.append.log-config.kew-word-expression" defaultValue=""/>

    <!--    配置连接前的描述-->
    <springProperty scope="context" name="dingTalkQuickLinkClickDescription"
                    source="spring.dingtalk.logback.append.quick-link-config.click-description" defaultValue="点击查看详情"/>

    <!--    配置的链接地址-->
    <springProperty scope="context" name="dingTalkQuickLinkClickUrl"
                    source="spring.dingtalk.logback.append.quick-link-config.click-url" defaultValue=""/>

    <!--    pattern layout 定义的格式 基础配置 需要安装 markdown的格式来处理 具体参考机器人官方文档-->
    <property name="DINGTALK_ROBOT_LOG_BASE_PATTERN"
              value="# ${dingTalkRobotTitle}%n- env: ${env}%n- app: ${app}%n- ip: ${localIp}%n- time: %d{yyyy-MM-dd HH:mm:ss.SSS}%n- thread: %thread%n- level: %level%n- logger: %logger%n- class: %class%n- method: %method%n- line: %line%n- mdc: %mdc%n- message: %msg%n- stackTrace: %ex{5}%n"/>

    <!--可以覆盖定义pattern () 要进行转义 http://logback.qos.ch/manual/layouts.html#Parentheses-->
    <property name="DINGTALK_ROBOT_LOG_PATTERN"
              value="${DINGTALK_ROBOT_LOG_PATTERN:-${DINGTALK_ROBOT_LOG_BASE_PATTERN}}"/>
</included>
